/*комментаторы*/   
.first-comment__img {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    overflow: hidden;
}
.second-comment__img {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    overflow: hidden;
}
.third-comment__img {
    background: #f5f5f5;
    width: 162px;
    height: 162px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('../../img/comments/third comment.png');
    background-repeat: no-repeat;
}
.fourth-comment__img {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    overflow: hidden;
}
/*страницы в комментариях*/
.page-number {
    list-style: none;
    display: flex;
}
.first-page:hover  {
    color: #ec1e79;
    background: #27273e;
    width: 20px;
    height: 20px;
    border-radius: 25%
}
.second-page:hover  {
    color: #ec1e79;
    background: #27273e;
    width: 20px;
    height: 20px;
    border-radius: 25%
}
.third-page:hover  {
    color: #ec1e79;
    background: #27273e;
    width: 20px;
    height: 20px;
    border-radius: 25%
}
.fourth-page:hover  {
    color: #ec1e79;
    background: #27273e;
    width: 20px;
    height: 20px;
    border-radius: 25%
}
.fifth-page:hover  {
    color: #ec1e79;
    background: #27273e;
    width: 20px;
    height: 20px;
    border-radius: 25%
}
.sixth-page:hover  {
    color: #ec1e79;
    background: #27273e;
    width: 20px;
    height: 20px;
    border-radius: 25%
}
.seventh-page:hover {
    color: #ec1e79;
    background: #27273e;
    width: 20px;
    height: 20px;
    border-radius: 25%
}