.footer {
    background: #27273e;
    height: 77px;
    min-width: 1100px;
}
.footer__col {
    float: left;
    width: 33.3%;
}
.footer-comments {
   background: #323232;
   height: 77px;
   min-width: 1100px;
}
.footer__text {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 12px;
}
.footer-logo {
    display: inline-block;
    text-align: center;
    margin-top: 15px;
}
.social-media__text {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px;
}
.footer__desc-link {
    font-weight: bold;
    color: #ffffff;
}
.b {
    font-weight: bold;
    color: #ffffff;
}
.social-media {
    float: right;
}
.footer__col-right {
    text-align: right;
}
.footer__col-middle {
    text-align: center;
}
.social-media__link {
    list-style: none;
    display: flex;
    margin-top: 11px;
}
.social-media-VK {
    background-image: url('../../img/footer/Vector Smart Object VK.png');
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.social-media-fb {
    background-image: url('../../img/footer/Vector Smart Object FB.png');
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.social-media-google {
    background-image: url('../../img/footer/Vector Smart Object Google.png');
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.social-media-twitter {
    background-image: url('../../img/footer/Vector Smart Object Twitter.png');
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.social-media-mail {
    background-image: url('../../img/footer/Vector Smart Object mail.png');
    width: 20px;
    height: 20px;
    margin-right: 29px;
}
.vk-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object VK comments.png');
    width: 20px;
    height: 20px;
}
.fb-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object FB comments.png');
    width: 20px;
    height: 20px;
}
.google-logo-comments__icon{
    background-image: url('../../img/footer/Vector Smart Object Google comments.png');
    width: 20px;
    height: 20px;
}
.twitter-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object Twitter comments.png');
    width: 20px;
    height: 20px;
}
.mail-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object mail comments.png');
    width: 20px;
    height: 20px;
}
.social-media-VK:hover  {
    background-image: url('../../img/footer/Vector Smart Object VK active.png');
}
.social-media-fb:hover  {
    background-image: url('../../img/footer/Vector Smart Object FB active.png');
}
.social-media-google:hover  {
    background-image: url('../../img/footer/Vector Smart Object google active.png');
}
.social-media-twitter:hover  {
    background-image: url('../../img/footer/Vector Smart Object twitter active.png');
}
.social-media-mail:hover  {
    background-image: url('../../img/footer/Vector Smart Object mail active.png');
}
.social-media__link:hover .vk-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object VK comments active.png');
}
.social-media__link:hover .fb-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object FB comments active.png');
}
.social-media__link:hover .google-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object Google comments active.png');
}
.social-media__link:hover .twitter-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object Twitter comments active.png');
}
.social-media__link:hover .mail-logo-comments__icon {
    background-image: url('../../img/footer/Vector Smart Object mail comments active.png');
}