/*шапка*/
.header {
    background: #27273e;
    padding: 10 0px;
}
.contacts {
    display: inline-block;
    margin-top: 21px;
    margin-bottom: 17px;
}
.contacts__elem {
    position: relative;
}
.contacts__dropdown {
  padding: 10px 15px;
  box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
  background: #fff;
  border-radius: 5px 0 5px 5px;
  text-align: left;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  margin-top: 13px;
  display: none;
}
.contacts__dropdown:before {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -11px;
  right: 0;
}

.contacts__dropdown:after {
  content: "";
  display: block;
  position: absolute;
  height: 25px;
  left: 0;
  right: 0;
  top: -25px;
}
.contacts__elem:hover .contacts__dropdown {
  display: block;
}
.contacts__time {
  font-size: 14px;
  font-weight: bold;
  color: #ec1e79;
  font-weight: bold;
  margin-bottom: 10px;
}
.contacts__lunch {
  font-size: 14px;
  color: #221f1f;
}
.phone{
    font-weight: bold;
    color: #ffffff;
    font-size: 21px;
    text-decoration: none;
    display: block;
    
}
.contacts__schedule {
    color: #b12167;
    opacity: .7;
    display: block;
    font-weight: bold
}
.header__left, .header__right {
    float: left;
    width: 50%;
}
.header__right {
    text-align: right;
}

.logo__wrapper {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 13px;
}
.contacts__schedule:hover {
    color: #769dcd;
}