/*боковое меню*/
.sidebar {
    float: left;
    width: 180px;
    padding-top: 45px;
    padding-right: 10 px;
}
.nav-menu__item {
    margin-bottom: 28px;
}
.nav-menu__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
}
.nav-menu__item.active .nav-menu__text {
    color: #221f1f;
}
.nav-menu__item.active .nav-menu__icon-main {
    background-image: url('../../img/sidebar/main_icon active.png');
}
.nav-menu__item.active .nav-menu__icon-prices {
    background-image: url('../../img/sidebar/wallet_active.png');
}
.nav-menu__item.active .nav-menu__icon-reviews {
    background-image: url('../../img/sidebar/feed_icon black.png');
}
.nav-menu__icon-main {
    background: url('../../img/sidebar/main_icon.png');
    background-repeat: no-repeat;
    width: 18px;
    height: 15px;
}
.nav-menu__icon-prices{
    background: url('../../img/sidebar/wallet_icon.png');
    background-repeat: no-repeat;
    width: 19px;
    height: 16px;
}
.nav-menu__icon-reviews{
    background: url('../../img/sidebar/feed_icon.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
}
.nav-menu__text {
    color: #f04b94;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    max-width: 122px;
    font-size: 12px;
}
.nav-menu__link {
    text-decoration: none;
}
.nav-menu {
    list-style: none;
}
.nav-menu__link:hover .nav-menu__icon-main {
    background-image: url('../../img/sidebar/main_icon active.png');
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
} 
.nav-menu__icon-main::after {
    position: relative;
    z-index: -1;
    background-image: url('../../img/sidebar/main_icon.png');
    opacity: 1;
}

.nav-menu__link:hover .nav-menu__icon-prices {
    background-image: url('../../img/sidebar/wallet_active.png');
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.nav-menu__link:hover .nav-menu__icon-reviews {
    background-image: url('../../img/sidebar/feed_icon black.png');
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.nav-menu__link:hover .nav-menu__text{
    color: #221f1f;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}